<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="ie=edge" http-equiv="X-UA-Compatible"/>
<title>Unicode Cleaner</title>
<link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet"/>
<style>
    body {
      font-family: "Hannari", serif;
    }
    .diff_data {
      font-size: 16px;
      text-align: left;
    }
    .diff_wrapper {
      font-size: 32px;
    }
  </style>
</head>
<body>
<div id="output"></div>
</body>
</html>